
{% extends 'base.html' %}
{% block content %}
<body>
    <h2>과목을 조건에 맞게 검색할 수 있습니다</h2>
    <form action="{% url 'lecturelist' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <span>별점: </span>
            <input type="text" class="form-control" name="star_point" id="star_point">
            <span>교과목명: </span>
            <input type="text" class="form-control" name="lecture_name">
        </div>
        <button type="submit" class="btn btn-primary">검색</button>
    </form>
    
</body>
{% endblock %}